<template>
  <div class="home">
    <img alt="Vue logo" src="../assets/logo.png">
    <button type="button" @click="OpenInnerModal">Open Modal</button>
    <ModalManageItem v-if="ModalTableName !== ''" :TableName="ModalTableName"/>

    <br/><br/>
    <button type="button" class="button is-success" @click="Test">Test</button>
  </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';
import ModalManageItem from '@/components/ModalManageItem.vue';
import axios from 'axios';

@Component({
  components: {
    ModalManageItem,
  },
})
export default class Home extends Vue {
  public ModalTableName: string;
  constructor() {
    super();
    this.ModalTableName = '';
  }
  public OpenInnerModal() {
    this.ModalTableName = 'Empresas';
  }
  public CloseInnerModal() {
      this.ModalTableName = '';
  }
  public Test() {
    axios.post(
      'http://localhost:8090/api/auth/login',
      {login: 'zeeh', senha: '123'},
      {
        headers: {
          'x-token': window.localStorage.getItem('token'),
        },
      },
    ).then((x) => {
      window.console.log(x.headers);
      if (x.headers['x-token']) {
        window.localStorage.setItem('token', x.headers['x-token']);
      }
    });
  }
}
</script>

