<template>
<div>
    <div v-if="Form && !Form.errored">
        <div class="card">
            <div class="card-header">
                <h3 class="card-header-title">{{Form.singleTitle}}</h3>
            </div>
            <div class="card-content columns is-multiline">
                <div v-for="field in Form ? Form.fields : []"
                    :class="`column is-${field.columns.computer}`"
                    :key="field.title">
                    <template v-if="field.relatedForm === undefined">
                        <template v-if="isOfType(field, 'text') || isOfType(field, 'numeric')">
                            <label class="label">{{field.title}}</label>
                            <div class="control is-expanded">
                                <input class="input" type="text" v-model="field.value">
                            </div>
                        </template>
                        <template v-if="isOfType(field, 'check')">
                            <label class="checkbox">
                            <input type="checkbox" v-model="field.value">
                                {{field.title}}
                            </label>
                        </template>
                        <template v-if="isOfType(field, 'select')">
                            <label class="label">{{field.title}}</label>
                            <div class="control">
                                <div class="select">
                                    <select v-model="field.value">
                                        <option v-for="slcValue in field.availableValues" :value="slcValue.value" :key="slcValue.value">
                                            {{slcValue.displayValue}}
                                        </option>
                                    </select>
                                </div>
                            </div>
                        </template>
                    </template>
                    <template v-else>
                        <label class="label">{{field.title}}</label>
                        <div class="control">
                            <template v-if="isOfType(field, 'select')">
                                
                                    <div class="select">
                                        <select v-model="field.value">
                                            <option v-for="slcValue in field.availableValues" :value="slcValue.value" :key="slcValue.value">
                                                {{slcValue.displayValue}}
                                            </option>
                                        </select>
                                    </div>
                            </template>
                                <button type="button" class="button is-info" @click="$parent.OpenInnerModal('Cnaes')">Gerenciar</button>
                        </div>
                    </template>
                </div>
                <template v-if="Form.editingId === ''">
                    <button :class="'button is-success ' + (Saving === true ? 'is-loading' : '')" type="button" @click="saveItem">Adicionar</button>
                    <button class="button is-warning" type="button" @click="resetFields">Limpar Campos</button>
                </template>
                <template v-else>
                    <button :class="'button is-success ' + (Saving === true ? 'is-loading' : '')" type="button" @click="saveItem">Salvar</button>
                    <button class="button is-danger" type="button" @click="cancelEdit">Cancelar</button>
                </template>
            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h3 class="card-header-title">Lista de {{Form.pluralTitle}} <template v-if="Form.loading === true">(Carregando...)</template></h3>
            </div>
            <div class="card-content">
                <div class="div-tabela">
                    <table class="table is-fullwidth is-bordered is-striped">
                        <thead>
                            <tr>
                                <th v-for="field in Form.tableVisibleFields" :key="field.title">
                                    {{field.title}}
                                </th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>
                        <transition-group tag="tbody" name="table">
                            <tr v-for="item in Form.data" :key="item._id">
                                <td v-for="field in Form.tableVisibleFields" :key="field.title">
                                    {{item[field.dbColumn]}}
                                </td>
                                <td class="is-narrow"><button class="button is-warning" type="button" @click="editItem(item)">Editar</button></td>
                                <td class="is-narrow"><button :class="'button is-danger' + (Form.deletingIds.some((x) => x === item._id) ? ' is-loading' : '')" type="button" @click="deleteItem(item)">Excluir</button></td>
                            </tr>
                        </transition-group>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="info-modal" v-if="Form.errored === true">
        <p>Não foi possível carregar os dados de {{TableName}}</p>
    </div>
    <vue-snotify></vue-snotify>
</div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import * as FormManagement from '@/form-management/FormManagement';
import { FormParameters } from '@/form-management/Form';
import * as crud from '@/api/commonCrud';
import { SnotifyPosition } from 'vue-snotify';

@Component
export default class ManageItem extends Vue {
    public Form?: FormManagement.Form;
    public Loading: boolean;
    public Errored: boolean;
    public Saving: boolean;
    @Prop() public TableName!: string;
    constructor() {
        super();
        this.Form = new FormManagement.Form({} as FormParameters);
        this.Loading = false;
        this.Errored = false;
        this.Saving = false;
    }
    public onChange() {
        window.console.log(this.Form);
    }
    public changeForm(form: string) {
        this.LoadFormulario(form);
    }
    public LoadFormulario(formulario: string) {
        this.Loading = true;
        import('@/forms/' + formulario).then((r) => {
            this.Form = r.default;
            this.Loading = false;
            if (this.Form) {
                this.Form.refreshData().then(() => {
                    if (this.Form !== undefined) {
                        this.Form.resetFields();
                    }
                });
            }
        });
    }
    public copy(obj: any) {
        return JSON.parse(JSON.stringify(obj));
    }
    public mudarForm(form: FormManagement.Form) {
        if (!this.Form) { return; }
        if (this.Form.dbTable === 'setores') {
            this.changeForm('AgentesDeRisco');
        } else if (this.Form.dbTable === 'agentesDeRisco') {
            this.changeForm('Empresas');
        } else if (this.Form.dbTable === 'empresas') {
            this.changeForm('Cnaes');
        } else {
            this.changeForm('Setores');
        }
    }
    public resetFields() {
        if (this.Form !== undefined) {
            this.Form.resetFields();
        }
    }
    public saveItem() {
        if (this.Form === undefined) {
            return;
        }
        this.Saving = true;
        let newObj = {};
        for (const field of this.Form.fields) {
            newObj = {...newObj, [field.dbColumn]: field.value};
        }
        let promise;
        if (this.Form.editingId === '') {
            promise = crud.insertItem(this.Form.dbTable, newObj);
        } else {
            newObj = {...newObj, _id: this.Form.editingId};
            promise = crud.updateItem(this.Form.dbTable, newObj);
        }
        promise.then((r) => {
            if (this.Form === undefined) {
                return;
            }
            const editing = this.Form.editingId !== '';
            if ((!editing && r.status === 201) || (editing && r.status === 200)) {
                this.Form.refreshData();
                this.Form.resetFields();
                this.$snotify.success('Salvo com sucesso!', {showProgressBar: false});
            } else {
                window.alert(`Não foi possível salvar o ${this.Form.singleTitle}!`);
            }
            })
            .catch((r) => {
                if (this.Form === undefined) {
                        window.alert('Não foi possível salvar o item.');
                        return;
                    }
                window.alert(`Não foi possível salvar o ${this.Form.singleTitle}!`);
            })
            .finally(() => {
                this.Saving = false;
            });
    }
    public editItem(item: any) {
        if (this.Form === undefined) { return; }
        for (const field of this.Form.fields) {
            field.value = item[field.dbColumn];
        }
        this.Form.editingId = item._id;
    }
    public deleteItem(item: any) {
        if (this.Form === undefined) {
            return;
        }
        this.$snotify.confirm(`Deseja realmente excluir este ${this.Form.singleTitle}?`,
        {
            position: SnotifyPosition.centerCenter,
            buttons: [
                {text: 'Sim', action: (toastId) => {
                    if (this.Form === undefined) {
                        return;
                    }
                    this.Form.deletingIds.push(item._id);
                    crud.deleteItem(this.Form.dbTable, item)
                    .then((r) => {
                        if (r.status === 200) {
                            // window.alert('Excluído com sucesso!');
                            if (this.Form !== undefined) {
                                this.Form.refreshData();
                                if (this.Form.editingId === item._id) {
                                    this.Form.editingId = '';
                                }
                            }
                        }
                    })
                    .catch((r) => {
                        window.alert('Algum erro ocorreu!');
                    });
                    this.$snotify.remove(toastId.id);
                }, bold: false},
                {text: 'Não'},
            ],
            closeOnClick: true,
        });
    }
    public cancelEdit() {
        if (this.Form !== undefined) {
            this.Form.resetFields();
        }
    }
    public isOfType(field: FormManagement.FormField, typeName: string) {
        switch (typeName) {
            case 'text':
                return field instanceof FormManagement.TextField;
            case 'numeric':
                return field instanceof FormManagement.NumericField;
            case 'check':
                return field instanceof FormManagement.CheckField;
            case 'radio':
                return field instanceof FormManagement.RadioField;
            case 'multiple':
                return field instanceof FormManagement.MultipleField;
            case 'select':
                return field instanceof FormManagement.SelectField;
        }
        return false;
    }
    private mounted() {
        this.changeForm(this.TableName);
    }
}
</script>

<style lang="scss">
    .div-tabela {
        overflow-x: auto;
    }
    table tbody tr {
        td:nth-last-child(1),
        td:nth-last-child(2) {
            text-align: center
        }
    }
    .info-modal {
        height: 1000px;
    }
    .card-content-custom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    @keyframes table-animation {
        from {
            transform: scaleY(0) scaleX(0);
        }
        to {
            transform: scaleY(1) scaleX(1);
        }
    }

    @keyframes slide-fwd-center {
        0% {
                    transform: translateZ(0);
        }
        100% {
                    transform: translateZ(100%);
        }
    }

    .table-enter-active {
	    //animation: slide-fwd-center 2s ease;
        
        animation: table-animation .5s;
    }

    .table-leave-active {
        
        animation: table-animation .5s reverse;
    }


</style>
