<template>
    <transition name="modal-transition" mode="out-in">
    
        <div class="modal is-active">
                <div class="modal-background"></div>
                
                <div class="modal-card">
                    <header class="modal-card-head">
                        <p class="modal-card-title">Gerenciamento de {{TableName}}</p>
                    <button class="delete" aria-label="close" @click="$parent.CloseInnerModal"></button>
                    </header>
                    <section class="modal-card-body">
                        <ManageItem ref="itemManager" :TableName="TableName"/>
                    </section>
                        <footer class="modal-card-foot">
                            <button class="button is-success" @click="$parent.CloseInnerModal">Fechar</button>
                        </footer>
                </div>
            <!--<template v-if="InnerModal !== ''">-->
                <ModalManageItem ref="innerModal" v-if="InnerModal !== ''" TableName="Cnaes"/>
        </div>
    </transition>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import ManageItem from './ManageItem.vue';
import Form from '@/form-management/Form';

@Component({
  components: {
    ModalManageItem,
    ManageItem,
  },
  name: 'ModalManageItem',
})
export default class ModalManageItem extends Vue {
    @Prop({required: true, type: [String]}) public TableName!: string;
    public InnerModal: string;
    constructor() {
        super();
        this.InnerModal = '';
    }

    public mounted() {
        const modals = document.querySelectorAll('.Modal');
        let i = 500;
        for (const modal of modals) {
            (modal as HTMLElement).style.zIndex = (i++).toString();
        }
    }

    public OpenInnerModal(tableName: string) {
        this.InnerModal = tableName;
    }

    public CloseInnerModal() {
        this.InnerModal = '';
        const innerModal = this.$refs.innerModal as ModalManageItem;
        const itemManager = innerModal.$refs.itemManager as ManageItem;
        const thisForm = (this.$refs.itemManager as ManageItem).Form as Form;
        const formsWithInnerForm = thisForm.fields.filter((x) =>
            x.relatedForm !== undefined &&
            (x.relatedForm as Form).dbTable === (itemManager.Form as Form).dbTable,
        );
        for (const form of formsWithInnerForm) {
            (form.relatedForm as Form).refreshData();
        }
    }
}
</script>

<style lang="scss">
    @keyframes bounce-in {
        0% {
            top: -5000px;
            //transform: scale(0);
        }
        50% {
            //transform: scale(1.1);
        }
        100% {
            top: 0;
            //transform: scale(1);
        }
    }
    .modal-transition-enter-active {
            animation: bounce-in .3s;
    }
    .modal-transition-leave-active {
            animation: bounce-in .3s reverse;
    }
    // .modal-transition-enter /* .fade-leave-active em versões anteriores a 2.1.8 */ {
    //     opacity: 0;
    // }
    // .modal-transition-enter-to {
    //     opacity: 1;
    // }
    // .modal-transition-leave {
    //     opacity: 1;
    // }
    // .modal-transition-leave-to {
    //     opacity: 0;
    // }
</style>
