<template>
    <div>
        
    </div>
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator';

@Component
export default class ModalWrapper extends Vue {
}
</script>

<style lang="scss">

</style>
